* {
  box-sizing: border-box;
}

.watchedItemList {
  margin-top: 10px;
}

.watchedItem {
  display: table;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}

.watchedItem:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.watchedItem__name {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}

.watchedItem__btn-group {
  float: right;
  display: table-cell;
}

.watchedItem__btn-group button {
  margin-left: 10px;
}